<!DOCTYPE html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/079bc6f8ad.js" crossorigin="anonymous"></script>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
    <heder>
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
         <a class="navbar-brand" href="/">
          <span>Bookers</span>
         </a>
        <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">-->
         <!--<span class="navbar-toggler-icon"></span>-->
        <!--</button>-->
       <div class="navbar-collapse collapse show" id="navbarNavDropdown" style="">
         <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
          <li>
            <p class="fas fa-home nav-link text-light">
             <%= link_to 'Home', user_path(current_user.id) %>
            </p>
          </li>

          <li>
            <p class="fas fa-users nav-link text-light">
             <%= link_to 'Users', users_path %>
            </p>
          </li>

          <li>
              <p class="fas fa-book-open nav-link text-light">
              <%= link_to 'Books', books_path %>
              </p>
              </li>

          <li>
            <a class="fas fa-sign-out-alt nav-link text-light" rel="nofollow" >
            <%= link_to "logout", destroy_user_session_path, method: :delete %>
            </a>
           </li>
           <% end %>
         </ul>
        </div>
      </div>
     </nav>

    </heder>




    <%= yield %>


<footer>
 <div class="container mt-5">
   <div class="row">
   <div class="mx-auto">
   <p>CopyRight Infratop.inc</p>
   </div>
   </div>
 </div>
 </footer>


</body>
</html>
