
   <div class="container px-5 px-sm-0">
  <div class="row">
   <div class="col-md-3">
    <!--部分テンプレート-->
      <%= render 'books/book', book: @book %>
   </div>

   <div class="col-md-8 offset-md-1">
  		<h2>Book detail</h2>
  		<table class="table">
  		  <tbody>
  		   <tr>
         <td>
          <span>
           <img class="attachment user profile_image fallback" src="/assets/no-image-icon-d3f9e11cb2bb284b42e0810f94b03c50126f51f482ea43054b87c2b7ebaa01d5.jpg">
                <!--%= link_to book.title, book_path(@book.id) %>-->
          </span>
          </td>

          <td><%= link_to @user.name, user_path(@user) %></td>

          <td>
                <%= link_to book_path(@book.id) do %>
             <%= @book.title %>
             <% end %>
          </td>
          <td><%= @book.body %></td>


          <td>
            <% if @user.id == current_user.id %>
            <%= link_to "Edit", edit_book_path(@book) %>
          </td>

          <td>
           <%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか?"%>
          </td>
            <% end %>

         </tr>
        </tbody>
       </table>
    </div>