
    <p>
       <% if flash[:notice] %>
        <%= flash[:notice] %>
       <% end %>
    </p>

<div class="container px-5 px-sm-0">
  <div class="row">
   <div class="col-md-3">
    <!--部分テンプレート-->
     <%= render "books/book", user: current_user, book: @newbook %>
   </div>

   <div class="col-md-8 offset-md-1">
    <h2>Book detail</h2>
      <table class="table">
  		<tbody>
  		 <tr>
          <td><%= attachment_image_tag @user, :profile_image, size: "40x40", format: 'jpeg', fallback: "no_image.jpg" %></td>
          <td><%= link_to @user.name, user_path(@user) %></td>
          <td>
             <%= link_to book_path(@book.id) do %>
             <%= @book.title %>
             <% end %>
          </td>
          <td><%= @book.body %></td>

          
          <% if @user.id == current_user.id %>
            <td><%= link_to "Edit", edit_book_path(@book) %></td>

            <td><%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか?"%></td>
          <% end %>

         </tr>
        </tbody>
       </table>
    </div>